/* TOUT */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#tout {
    background-color:#1560BD;

    /* background-image: url(./img/techno.jpg); */
    /* background-position: center; */
    
}
.noir {
    padding: 2vh;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-around;
}
/* FIN TOUT */

/* HEADER  */
header {
    color: whitesmoke;
    background-image: url(./img/banniere3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:slategray;
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* FIN HEADER  */

/* PRESENTATION  */
.presen {
    display: flex;
    justify-content: flex-start;
    height: 50vh;
}
.photo img{
    padding: 2vh;
    width: 200px;
    height: 300px;
}
.bonjour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.logoinfo {
    display: flex;  
}
.logos {
    margin-right: 2vh;
}
/* FIN PRESENTATION  */

/* FORMATION  */
.bloc {
    padding: 3vh;
}
.gris {
    background-color:#CECECE;
    text-align: center;
}
.trois {
    text-align: center;
    width: 25%;
    border: 1px solid black;
}
#blocexp {
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin-right: 4vh;
    margin-bottom: 3vh;
    background-color:#CECECE;
}
.card img {
    height: 150px;
}
.card-body {
    height: 325px;
}

.card-title {
    text-align: center;
}
.list-group-item {
    text-align: center;
}
.forma {
    display: flex;
    flex-wrap: wrap;
}

/* FIN FORMATION  */
.contact {
    margin-top: 2vh;
}

/* FOOTER  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    background-color: #CECECE;
}
.droits {
    font-size: 1.5rem;
}
#reseaux img {
    width: 65px;
    height: 60px;
}
#reseaux {
    margin-top: 3vh;
    width: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* FIN FOOTER  */




@media screen and (max-width: 768px) {
    #blocun {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #blocdeux {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}