/* TOUT */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#tout {
    background-color:dimgray; 
}
.noir {
    padding: 2vh;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* FIN TOUT */

/* HEADER  */
header {
    color: whitesmoke;
    background-image: url(./img/banniere3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:slategray;
}
#nav {
    z-index: 1000;
    width: 100%;
    position: sticky;
    top: 0;
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* FIN HEADER  */

/* PRESENTATION  */
.presen {
    display: flex;
    justify-content: flex-start;
}
.photo img{
    padding: 2vh;
    width: 200px;
    height: 300px;
}
.bonjour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.logoinfo {
    display: flex;  
}
.logos {
    margin-right: 2vh;
}
/* FIN PRESENTATION  */

/* FORMATION  */
.bloc {
    padding: 5vh;
}
.gris {
    background-color:#CECECE;
    text-align: center;
}
.trois {
    text-align: center;
    width: 25%;
    border: 1px solid black;
}
#blocexp {
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    margin-right: 4vh;
    margin-bottom: 3vh;
    background-color:#CECECE;
}
.card img {
    height: 150px;
}
.card-body {
    height: 325px;
}

.card-title {
    text-align: center;
}
.list-group-item {
    text-align: center;
}
.forma {
    display: flex;
    flex-wrap: wrap;
}
#formations {
    display: flex;
    flex-wrap: wrap;
}
/* FIN FORMATION  */
.contact {
    margin-top: 2vh;
}
/* COMPETENCES  */
#compet {
    display: flex;
    flex-direction: column;
    
}
#compet img {
    width: 90px;
    height: 90px;
}
.one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.two {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#logocss {
    width: 65px;
}
#logooffice {
    width: 130px;
    height: 120px;
}
/* FIN COMPETENCES */

/* CENTRE INTERETS */

.inter {
    width: 100%;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.pic img {
    max-width: 150px;
}
#dos img {
    max-width: 150px;
}
.pic {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
/* FIN CENTRE INTERETS */
/* AVIS  */
#form{
    background-color:slategray;
}

/* FIN AVIS  */
/* FOOTER  */
footer {
    background-image: url(./img/banniere3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: #CECECE; */
}
.droits {
    margin: 2rem;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reseaux img {
    width: 65px;
    height: 60px;
    margin: 5vh;
}
#reseaux {
    width: max-content;
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* FIN FOOTER  */




@media screen and (max-width: 768px) {
    
    header {
        height: 100%;
    }
    .bloc {
        padding: 1vh;
        margin-bottom: 5vh;
    }
    .trois{
        text-align: center;
        width: 100%;
        border: 1px solid black;
        margin-bottom: 1.5vh;
    }
    .noir {
        width: 100%;
    }
    .photo {
        width: 100%;
    }
    .noir img {
        width: 100%;
        height: 100%;
    }
    .card {
        margin-bottom: 3vh;
        margin-right: 0;
    }
    .card-body {
        height: auto;
    }
    .one {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 5vh;
    }
    footer {
        margin-top: -7vh;
        color: whitesmoke;
    }
    footer img {
        background-color: whitesmoke;
    }
    #reseaux {
        width: 100%;
    }
    #reseaux img {
        margin: 0;
        margin-left: auto;
    }
}